﻿@{
    ViewBag.Title = "Giới Thiệu";
}

<hgroup class="title">
    <h2>Giới Thiệu Về Bóng Đá!</h2>
</hgroup>

<article>
    <p>
        Trường Đại Học Sư Phạm Kỹ Thuật TP.HCM.
    </p>

    <p>
        Môn Học Lập Trình Web.
    </p>

    <p>
        Ngô Quang Thịnh - 12110183
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
        <li>@Html.ActionLink("Liên Hệ", "Contact", "Home")</li>
    </ul>
</aside>