﻿@{
    ViewBag.Title = "Liên Hệ";
}

<hgroup class="title">
    <h2>Thông Tin Liên Hệ</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Văn phòng:</span>
        <span>425.555.0100</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Địa chỉ</h3>
    </header>
    <p>
        Dasuky<br />
        1 Vo Van Ngan
    </p>
</section>