﻿@{
    ViewBag.Title = "Trang Chủ";
}
<ul id="inlineBlockMN">
    <li>
        <p class="title">
            <b>Tin nổi bật</b>
        </p>
    </li>
</ul>
<ul id ="inlineBlock">
    <li>
    <a href="/post/details/13">
        <img src="~/Images/1.jpg" />
    </a>
        <p class ="title">
            <a href="/post/details/13">
            <b>Lại là Balotelli</b>
                </a>
        </p>
    </li>
     <li>
    <a href="/post/details/14">
        <img src="~/Images/7.jpg" />
    </a>
        <p class ="title">
            <a href="/post/details/14">
            <b>Vermaelen chấn thương</b>
                </a>
        </p>
    </li>
    <li>
        <a a href="/post/details/15">
            <img src="~/Images/4.jpg" />
        </a>
        <p class="title">
            <a href="/post/details/15">
            <b>Nhà cầm quân vĩ đại</b>
                </a>
        </p>
    </li>
    @*<li>
        <a href="/post/details/16">
            <img src="~/Images/10.jpg" />
        </a>
        <p class ="title">
            <a href="/post/details/16">
            <b>Pepe</b>
                </a>
        </p>
    </li>*@
</ul>

<ul id="inlineBlockNHAMN" >
    <li>   
        <p class="title">
            <a href="/theloai/details/7">
                <b>Bóng đá Anh</b>
            </a>
        </p>
    </li>
</ul>
<ul id="inlineBlockNHA">
        <li>
            <p class="title">
            <a href="/post/details/5">
                <b>Casillas chốt chặn cuối cùng</b>
            </a>
        </p>
         <a href="/post/details/5">
            <img src="~/Images/8.jpg" />
        </a>  
       </li>
    <li>
            <p class="title">
            <a href="/post/details/6">
                <b>simeone bị cấm chỉ đạo</b>
            </a>
        </p>
         <a href="/post/details/6" class ="thumb">            
             <img src="~/Images/9.jpg" />
        </a>
    </li>
    <li>
        <p class="title">
            <a href="/post/details/7">
            <b>hàng công nam mỹ</b>
                </a>
        </p>
        <a href="/post/details/7">
            <img src="~/Images/19.jpg" />
        </a>
    </li>
    <li>
        <p class="title">
            <a href="/post/details/8">
            <b>Đội hình mới mẽ</b>
                </a>
        </p>
            <a href="/post/details/8">
            <img src="~/Images/11.jpg" />
        </a>
    </li>
</ul>

<ul id="inlineBlockLLMN">
    <li>
        <p class="title">
            <a href="/theloai/details/8">
                <b>Bóng Đá Tây ban nha</b>
            </a>
        </p>
     </li>
</ul>
<ul id="inlineBlockLL">
    <li>
            <p class="title">
                <a href="/post/details/9">
                        <b>ai mới là số 1</b> 
                </a>
             </p>
                    <a href="/post/details/9">
                        <img src="~/Images/3.jpg"/>
                    </a>
       </li> 

        <li>
            <p class="title">
                <a href="/post/details/10" class="thumb">
                        <b>falcao sẽ trở lại la liaga?</b> 
                </a>
             </p>
                    <a href="/post/details/10" class="thumb">
                        <img src="~/Images/15.JPG"/>
                    </a>                 
    </li>
    <li>
        <p class="title">
            <a href="/post/details/11">
            <b>Ronaldo người chinh phục kỷ lục</b>
                </a>
        </p>
        <a href="/post/details/11">
            <img src="~/Images/20.jpg" />
        </a>
    </li>
    <li>
        <p class="title">
            <a href="/post/details/12">
            <b>messi ra sân là ghi bàn</b>
                </a>
        </p>
        <a href="/post/details/12">
            <img src="~/Images/5.jpg" />
        </a>
    </li>
</ul>

<ul id="inlineBlockBLMN">
    <li>
    <p class="title">
        <a href="theloai/details/9">
            <b>Bóng đá đức</b>
        </a>
    </p>
    </li>
</ul>
<ul id="inlineBlockBL">
    <li>
        <p class="title">
            <a href="/post/details/20">
                <b>Robben chơi hay nhất trận</b>
            </a>
        </p>
        <a href ="/post/details/20">
            <img src="~/Images/21.jpg"/>
        </a>
    </li>

    <li>
        <p class="title">
            <a href="/post/details/21">
                <b>Dortmund lại gây thất vọng</b>
            </a>
        </p>
        <a href ="/post/details/21">
            <img src="~/Images/22.jpg" />
        </a>
    </li>
</ul>
