﻿@model MvcApplication5.Models.Tag
@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tag</legend>

        <div class="editor-label">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

