﻿@model MvcApplication5.Models.Comment


@using (Html.BeginForm("Create", "Comment", new {idpost =ViewData["idpost"] }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

    
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

