﻿@model Project.Models.Tag

@{
    ViewBag.Title = "Tag: " + Model.Content.ToString();
}

<h2>Các bài viết thuộc tag @Model.Content.ToString()</h2>

@*<fieldset>
    <legend>Tag</legend>*@

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>*@

    @*<i>Tag: </i>
    @Html.DisplayFor(model=>model.Content)<br />
    <b>Bài Viết:</b><br />
    @foreach (var p in Model.Posts)
    {
        <div class ="display-feild">
            <h4> @Html.ActionLink(p.Title, "Details", new { Controller ="Post",action="Details",id=p.ID})</h4>
        </div> 
    }
</fieldset>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@

<table>
    <tr>
        <th>
            Tên bài viết
        </th>
        <th>
            Ngày đăng
        </th>
    </tr>
        @foreach (var p in Model.Posts)
        {
            <tr>
            <td>
                @Html.ActionLink(p.Title.ToString(), "Details", new { Controller = "Post", action = "Details", id = p.ID })
            </td> 
            <td>
                @Html.DisplayFor(x=>p.DateCreated)
            </td>
            </tr>
        }
</table>
