﻿@model Project.Models.Comment
@using (Html.BeginForm("Create", "Comment", FormMethod.Post ,new { id="my-form" })) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Body)*@
            Nội dung bình luận
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>       

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Author)*@
            Tên của bạn
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>
        @Html.Hidden("idpost",ViewData["idpost"])       
        <p>
            <input type="submit" value="Bình luận" />
        </p>
    </fieldset>
}
<script src="~/Scripts/addComments.js"></script>
