﻿@model Project.Models.Post

@{
    ViewBag.Title = "Đăng Bài Viết Mới";
}

<h2>Đăng bài viết mới</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            <h2>Tựa Bài Viết </h2>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            <h2>Nội Dung Bài Viết</h2>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>  
                

        <div class="editor-label">
            <h2>Thể Loại Bài Viết</h2>
        </div>
        <div class="editor-field">
            @Html.DropDownList("TheLoaiID", String.Empty)
            @Html.ValidationMessageFor(model => model.TheLoaiID)
        </div>

         <h2>Tag</h2>        
        <div class="editor-field">
            @Html.EditorFor(model => new Project.Models.Tag().Content)
            @Html.ValidationMessageFor(model => new Project.Models.Tag().Content)
        </div>

        <p>
            <input type="submit" value="Đăng Bài" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
