﻿@model Project.Models.Post


@{
    ViewBag.Title = Model.Title.ToString();
}

@*<h2>Details</h2>*@

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.DateCreated)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Title)*@
    </div>
    <div class="display-field">
       <h2>@Html.DisplayFor(model => model.Title)</h2> 
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Body)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

   

    <div class="display-label">
         @*@Html.DisplayNameFor(model =>Model.UserProfile.UserName)*@
    </div>
    <div class="display-field", "float-right">
        @*@Html.DisplayFor(model => Model.UserProfileID)*@
    </div>
</fieldset>

<h2>Tag</h2>
<fieldset>
    <legend>Tag</legend>
    @foreach(var tag in Model.Tags)
    { 
        <div class="display-field">
       @Html.ActionLink(tag.Content.ToString(), "Details", new { Controller = "Tag", action ="Details",id=tag.ID})
    </div>
    }
</fieldset>

<h2>Bình luận</h2>
<fieldset>
    <legend>Add Comment</legend>
    @Html.Partial("addComment", new Project.Models.Comment() , ViewData)
</fieldset>

<h2>Các bình luận</h2>
<fieldset>
    <legend>Danh sách các bình luận</legend>
    <div id ="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {        
        <div class="display-field">
           <h1> @Html.DisplayFor(x => comment.Author)</h1>
            @Html.DisplayFor(x => comment.Body)
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.DateCreated)
        </div> 
        
        <div class="display-feild">
            ------------------------------------------
        </div>   
         
    }
    </div>
</fieldset>