﻿@model IEnumerable<Project.Models.Post>

@{
    ViewBag.Title = "Bài Viết";
}

@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("Đăng Bài Viết Mới", "Create")
</p>
<table>
    <tr>
        <th>
            Tên Bài Viết
            @*@Html.DisplayNameFor(model => model.Title)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Body)
        </th>*@
        <th>
            Ngày Đăng
            @*@Html.DisplayNameFor(model => model.DateCreated)*@
        </th>
     @*   <th>
            Bởi
            @Html.DisplayNameFor(model => model.UserProfile)
        </th>*@
        <th>
            Thể Loại
            @*@Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)*@
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model.OrderByDescending(x=>x.DateCreated)) {
    <tr>
        <td>
            @Html.ActionLink(item.Title.ToString(), "Details", new { id = item.ID})
            @*@Html.DisplayFor(modelItem => item.Title)*@
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
        </td>
     @*   <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
