﻿@model Project.Models.TheLoai

@{
    ViewBag.Title = Model.TenTheLoai;
}

<h2>Danh Sách Bài Viết @Model.TenTheLoai.ToString()</h2>

<table>
    <tr>
        <th>
            Tên Bài Viết
        </th>
        <th>
            Ngày Đăng
        </th>
    </tr>
    @foreach (var p in Model.Posts.OrderByDescending(z=>z.DateCreated)) 
    {
        <tr>
            <td>
                @Html.ActionLink(p.Title, "Details", new { Controller ="Post",action="Details",id=p.ID})
            </td>
            <td>
                @Html.DisplayFor(x=>p.DateCreated)
            </td>
        </tr>
    }
</table>
