﻿@model MvcApplication6.Models.Comment

<div class="display-field">
         <h2>   @Html.DisplayFor(x=>x.Author)        </h2>
      @Html.DisplayFor(x=>x.Body)   
</div> 

<div class="display-field">
                  @Html.DisplayFor(x=>x.DateCreated)
</div>