﻿@model MvcApplication6.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

<h2>Tags</h2>
<fieldset>
    <legend>Tag</legend>
    @foreach(var tag in Model.Tags)
    { 
        <div class="display-field">
        @*@Html.DisplayFor(x => tag.Body)*@
        @Html.ActionLink(tag.Body.ToString(), "Index", new { id = Model.Title})
    </div>
    }
</fieldset>

<h2>Add Comment</h2>
<fieldset>
    <legend>Add Comment</legend>
    @Html.Partial("_addComment", new MvcApplication6.Models.Comment() , ViewData)
</fieldset>
<h2>List Of Comments</h2>
<fieldset>
    <legend>List Of Comment</legend>
    <div id ="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {        
        <div class="display-field">
           <h2> @Html.DisplayFor(x => comment.Author)</h2>
            @Html.DisplayFor(x => comment.Body)
        </div>
        @*<div class="display-field">
            
        </div>*@
        <div class="display-field">
            @Html.DisplayFor(x => comment.DateCreated)
        </div>        
    }

    </div>
</fieldset>



<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
