﻿@model Project.Models.LocalPasswordModel

<h3>Đổi Mật Khẩu</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Đổi Mật Khẩu</legend>
        <ol>
            <li>
                Mật khẩu cũ
            </li>
            <li>
                @*@Html.LabelFor(m => m.OldPassword)*@
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>Mật khẩu mới</li>
            <li>
                @*@Html.LabelFor(m => m.NewPassword)*@
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>Nhập lại mật khẩu</li>
            <li>
                @*@Html.LabelFor(m => m.ConfirmPassword)*@
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Đổi Mật Khẩu" />
    </fieldset>
}
