﻿/*<style type="text/css">*/

ul#inlineBlockMain{
    list-style: none inside;
    margin: 50px 50px;
}
ul#inlineBlockMain li{
    background-color: red;
    -webkit-box-shadow: 2px 2px 0 red;
    box-shadow: 2px 2px 0 red;          
    padding: 5px 10px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}
ul#inlineBlockMain li a{
    color: Black;
    text-decoration: none;
    font-weight: 600;
}

ul#inlineBlock{
    list-style: none inside;
    margin: 50px 50px;
}
ul#inlineBlock li{
    background-color: transparent;
    -webkit-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;          
    padding: 5px 10px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}
ul#inlineBlock li a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

ul#inlineBlockMN{
    list-style: none inside;
    margin: 50px 50px;
}
ul#inlineBlockMN li{
    background-color:yellow;
    -webkit-box-shadow: 2px 2px 0 yellow;
    box-shadow: 2px 2px 0 yellow;          
    padding: 5px 10px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}
ul#inlineBlockMN li a{
    color: Black;
    text-decoration: none;
    font-weight: 600;
}

ul#inlineBlockNHAMN{
    list-style: none inside;
    margin: 50px 50px;
}
ul#inlineBlockNHAMN li
{
    background-color: transparent;
    -webkit-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;         
    padding: 5px 10px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}
ul#inlineBlockNHAMN li a
{
    color: blue;
    text-decoration: none;
    font-weight: 600;
}

ul#inlineBlockLLMN{
    list-style: none inside;
    margin: 50px 50px;
}
ul#inlineBlockLLMN li{
    
    /*-webkit-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;*/         
    padding: 5px 10px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 3px;
    position: relative;
}
ul#inlineBlockLLMN li a{
    color: orange;
    text-decoration: none;
    font-weight: 600;
}

ul#inlineBlockBLMN{
    list-style: none inside;
    margin: 50px 50px;
}
ul#inlineBlockBLMN li{
    /*background
    -webkit-box-shadow: 2px 2px 0 #db0a0a;
    box-shadow: 2px 2px 0 #db0a0a;*/         
    padding: 5px 10px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 0px;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 3px;
    position: relative;
}
ul#inlineBlockBLMN li a{
    color: red;
    text-decoration: none;
    font-weight: 600;
}






/*</style>*/
