﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Bóng Đá!</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                @*<div class="float-left">
                    <p class="site-title">@Html.ActionLink("Logo", "Index", "Home")</p>
                </div>*@
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                   @* <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Thể Thao", "Details", new { Controller = "Theloai", action ="Details",id=1})</li>
                            <li>@Html.ActionLink("Ngoại Hạng Anh", "Details", new { Controller ="Theloai",action="Details",id=3})</li>
                            <li>@Html.ActionLink("La Liga", "Details", new { Controller ="Theloai",action="Details",id=4})</li>
                            <li>@Html.ActionLink("Bundes Liga", "Details", new { Controller ="Theloai",action="Details",id=5})</li>
                            <li>@Html.ActionLink("Hậu Trường", "Details", new { Controller="Theloai",action ="Details",id=6})</li>
                            <li>@Html.ActionLink("Bài Viết","Index","Post")</li>
                            <li>@Html.ActionLink("Đăng Bài","Create","Post")</li>
                        </ul>                       
                    </nav>     *@               
                </div>
                 <ul id="inlineBlockMain">
                            <li><a href="/Home">trang chủ</a></li>
	                        <li><a href="/theloai/details/7">bóng đá anh</a></li>
	                        <li><a href="/theloai/details/8">bóng đá tây ban nha</a></li>
	                        <li><a href="/theloai/details/9">bóng đá đức</a></li>
                            <li><a href="/theloai/details/6">hậu trường</a></li>
	                        <li><a href="/Post/Create">đăng bài viết</a></li>		
                 </ul>

            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Ngô Quang Thịnh </p>
                    <p>@Html.ActionLink("Giới Thiệu","About","Home")</p>
                    <p>@Html.ActionLink("Liên Hệ","Contact","Home")</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
